footer {
  background: #000;
  width: 100%;
  height: 250px;
  color: aliceblue;
  text-pa
}

h1 {
  color: rgb(30, 133, 98);
}
button {
    background-color:  rgb(104, 139, 255);
}
body {
  text-align: center;
}
section {
  padding: 30px;
  background-color: rgb(228, 243, 213);
  border-radius: 10px;
  margin: 10px;
}
table {
  text-align: center;
    border-collapse: collapse;
  margin: auto;
  width: 75%;
}

th {
  background-color: rgb(206, 91, 91);
  color: white;
}
td {
  width: 1000px;
  border-radius: 4px;
}
tr {
  background-color: aliceblue;
  width: 100px;
  height: 50px;
  transition-duration: .1s;
}
img {
  border-radius: 30px;
  width: 100%;
}
tr:nth-child(2n + 1) {
  background-color: rgb(248, 227, 227);
}
tr:hover {
  background-color: rgb(233, 171, 130);
}
td:{
    background-color: rgb(206, 91, 91);
}
section:nth-child(even){
    background-color:white;
}
ul{
    list-style: none;
    padding: 20px;
    color: rgb(0, 0, 0);
}
#skill{
    
    height: 100px;
    
    /* background-image: url('./pic.jpeg') */
}
#about h1{
text-shadow: rgb(100, 98, 98);
}